BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"PCH\.h"$'
    Priority: -1
    SortPriority: -1
  - Regex: '^"'
    Priority: 1
    SortPriority: 1
  - Regex: '^<'
    Priority: 2
    SortPriority: 2
FixNamespaceComments: true
NamespaceIndentation: None

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
